[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
black = "*"
boto3 = "*"
celery = "*"
dj-database-url = "*"
Django = "*"
djangorestframework = "*"
django-cors-headers = "*"
django-allauth = "*"
django-anymail = "*"
dj-rest-auth = "*"
factory-boy = "*"
gunicorn = "*"
Pillow = "*"
PyYAML = "*"
python-dotenv = "*"
uritemplate = "*"
django-storages = "*"
djangorestframework-simplejwt = "*"
supabase = "*"